/* Base styles for rnjnsn.com */

/* LOAD FONTS */
@font-face {
  font-family: 'Calibre';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-regular.eot') format('eot');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-regular.woff') format('woff');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-regular-italic.eot') format('eot');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-regular-italic.woff') format('woff');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-regular-italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-bold.eot') format('eot');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-bold.woff') format('woff');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-medium;.eot') format('eot');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-medium.woff') format('woff');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-thin.eot') format('eot');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-light.woff') format('woff');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Calibre-web-light';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-light.eot') format('eot');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-light.woff') format('woff');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-light.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Calibre';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-semibold.eot') format('eot');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-semibold.woff') format('woff');
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/calibre-web-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Canterbury';
  src: url('https://d39pktu5dnvh24.cloudfront.net/tfs/Canterbury.ttf');
}

:root {
  font-size: 16px;
  --entry-background: rgba(245, 247, 248.1);
  --entry-border-color: rgba(0,0,0,0);
  --emphasis-color: rgba(33, 36, 39,1);
  --bullet-point-text-color: #000;
  --border-color: rgba(0,0,0, 0.10);
  --main-bg-color: rgba(256,256,256, 1);
  --icon-color: rgba(0,0,0,0.45);
  --icon-color-inactive: rgba(0,0,0,0.15);
  --main-text-color: rgba(33, 36, 39,1);
  --title-text-color: rgba(33, 36, 39,1);
  --subtitle-text-color: rgba(33, 36, 39,0.5);
  --link-text-color: rgba(33, 36, 39,1);
  --list-text-color: #f8f8f8;
  --sidenav-bg-color: rgba(245, 247, 248.1);
  --icon-and-underline-color: #9E9E9E;
  --navigation-active: #9E9E9E;
  --blog-category-color: #9E9E9E;
  --sidenav-border-color: rgba(250,250,250,0.08);
  --text-opacity-h: rgba(33, 36, 39,0.25);
  --text-opacity-m: rgba(33, 36, 39,0.5);
  --text-opacity-ml: rgba(33, 36, 39,0.75);
  --text-opacity-l: rgba(33, 36, 39,1);
  --table-head: rgba(240, 242, 243.1);
  --table-head-title-color: rgba(33, 36, 39,1);
  --table-body-text-color: rgba(33, 36, 39,1);
  --table-body: rgba(250,250,250,0.040);
  --dot-color: #f76c43;
}

[data-theme="dark"] {
  --entry-background: rgba(250,250,250,0.090);
  --entry-border-color: #202020;
  --emphasis-color: #fff;
  --bullet-point-text-color: #fff;
  --border-color: rgba(256,256,256, 0.15);
  --main-bg-color: #000000;
  --main-text-color: rgba(256,256,256, 0.5);
  --icon-color: rgba(256,256,256, 0.45);
  --icon-color-inactive: rgba(256,256,256, 0.15);
  --title-text-color: #fff;
  --subtitle-text-color: rgba(256,256,256, 0.5);
  --link-text-color: #f8f8f8;
  --list-text-color: #f8f8f8;
  --sidenav-bg-color: rgba(250,250,250,0.075);
  --icon-and-underline-color: #9E9E9E;
  --navigation-active: #9E9E9E;
  --blog-category-color: #9E9E9E;
  --sidenav-border-color: rgba(250,250,250,0.08);
  --text-opacity-h: rgba(256,256,256, 0.25);
  --text-opacity-m: rgba(256,256,256, 0.5);
  --text-opacity-ml: rgba(256,256,256, 0.75);
  --text-opacity-l: rgba(256,256,256, 1);
  --table-head: rgba(250,250,250,0.075);
  --table-head-title-color: #fff;
  --table-body-text-color: #fff;
  --table-body: rgba(256,256,256,0.040);
  --dot-color: #f76c43;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  font-family: 'calibre-web-regular', 'sans-serif';
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  background-color: var(--main-bg-color);
}

h1 {
  text-align: left;
  color: #fff;
  font-family: 'Calibre';
  font-size: 4.3rem;
  line-height: 1.11;
  font-weight: 600;
}

h2 {
  font-family: 'Calibre';
  font-size: 2.0rem;
  font-weight: 600;
  color: #fff;
}

h3 {
  font-family: 'Calibre';
  text-align: left;
  font-size: 2.0rem;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.03rem;
  margin-bottom: 0px;
}

p {
  font-family: 'Calibre';
  font-weight: 400;
  font-size: 1.20rem;
  color: #fff;
  line-height: 1.7rem;
}

.page {
  padding: 0;
  height: 100%;
  margin-left: 76.2px;
  width: calc(100% - 76.2px);
}

/* The sidebar menu */
.sidenav {
  background-color: var(--sidenav-bg-color);
  height: 100%;
  width: 76.2px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.list-bare {
  padding: 0rem;
  list-style: none;
}

#logo-container {
  display: none;
}

#logo {
  display: table;
  padding-top: 50px;
  margin: 0 auto;
  line-height: 0px;
  color: darkslategrey;
  text-decoration: none;
  font-size: 2.5rem;
  letter-spacing: 0.11em;
  font-family: 'Canterbury';
  font-weight: 900;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  position: relative;
  text-align: center;
}

.sidenav-menu {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3.5rem;
  text-align: center;
}

.sidenav ul {
  list-style-type: none;
  padding-inline-start: 0px!important;
}

.sidenav ul li {
  padding-bottom: 20px;
}

/* Navigation Links */
#home a, #about a, #resources a, #contact a {
  margin-left: 0px;
  font-size: 1.45rem;
  color: var(--icon-color);
}

#home a:hover, #about a:hover, #resources a:hover, #contact a:hover {
  transform: scale(1.15);
  transition: transform .3s ease-out;
}

.inactive a {
  padding: 0;
  text-decoration: none;
  font-size: 1.45rem;
  color: var(--icon-color-inactive);
  display: block;
}

.inactive a:hover {
  color: #fff;
  transform: scale(1.15);
  transition: transform .3s ease-out;
}

/* Theme Switch */
.theme-switch-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 45.882px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 18px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 18px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer */
.footer {
  width: 45.5rem;
  min-width: 45.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer ul {
  padding: 0rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

#backtotop {
  font-size: 2.0rem;
  color: rgba(256,256,256, 0.65);
}

#logo-footer a {
  font-family: 'Canterbury';
  font-size: 2.4rem;
  text-decoration: none;
  color: rgba(256,256,256, 0.25);
}

.footer-nav {
  display: flex;
  justify-content: center;
  padding-left: 26px;
}

.footer-nav ul {
  list-style-type: none;
}

.footer-nav ul li a {
  font-family: 'Calibre';
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.094rem;
  text-transform: uppercase;
  color: rgba(256,256,256, 0.45);
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

[data-page="about"] #about,
[data-page="contact"] #contact,
[data-page="resources"] #resources,
[data-page="home"] #home {
    display: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .sidenav-menu {
    margin-top: 0rem;
  }

  .theme-switch-wrapper {
    display: none;
  }

  .page {
    margin-left: 0;