{{ define "main" }}
<div class="page" data-page="{{ .Type }}">
    <div class="main-content">
        <div class="bio-intro">
            <span class="title">Ahoi, I'm René.</span>
            <span class="subtitle">A generalist with an interest in all things tech</span>
            <section>
                <p>I have a long-standing interest in a range of topics that sit at the intersection where humans and machines meet:</p>
            </section>
            <div class="svg-container">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="auto" viewBox="0 164 1000 672">
                    <defs>
                        <clipPath id="clip_0">
                            <path transform="matrix(1,0,0,-1,0,1000)" d="M0 1000H1000V0H0Z"/>
                        </clipPath>
                    </defs>
                    <g id="shapes" data-name="">
                        <g clip-path="url(#clip_0)">
                            <path id="leftSphere" transform="matrix(1,0,0,-1,0,500)" d="M0 0C0-184.873 149.869-334.742 334.742-334.742 519.615-334.742 669.484-184.873 669.484 0 669.484 184.873 519.615 334.742 334.742 334.742 149.869 334.742 0 184.873 0 0" fill="#54565d"/>
                            <path id="rightSphere" transform="matrix(1,0,0,-1,330.5156,500)" d="M0 0C0-184.873 149.869-334.742 334.742-334.742 519.615-334.742 669.484-184.873 669.484 0 669.484 184.873 519.615 334.742 334.742 334.742 149.869 334.742 0 184.873 0 0" fill="#8a8a8d"/>
                            <path id="intersection" transform="matrix(1,0,0,-1,500,208.8457)" d="M0 0C-101.214-57.573-169.484-166.386-169.484-291.154-169.484-415.923-101.214-524.735 0-582.309 101.215-524.735 169.484-415.923 169.484-291.154 169.484-166.386 101.215-57.573 0 0" fill="#FF7F50"/>
                        </g>
                    </g>
                    <g id="text" data-name="">
                        <text fill="#ffffff" font-size="15" font-family="Calibre" font-weight="bold" letter-spacing="1" x="167" y="500">HUMAN</text>
                        <text fill="#ffffff" font-size="15" font-family="Calibre" font-weight="bold" letter-spacing="1" x="780" y="500">MACHINE</text>
                        <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="485">Philosophy of Technology</text>
                        <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="515">Collective Intelligence</text>
                        <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="455">Digital Ethics</text>
                        <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="545">AI Governance</text>
                    </g>
                </svg>
            </div>

            <section>
                <p>Here, and <a href="https://www.information.dk/debat/2018/07/kunstig-intelligens-kan-besvare-etiske-spoergsmaal">elsewhere</a>, I approach these topics philosophically and with a humanistic outlook. I'm convinced that the radical transformative potential of data-driven technologies such as AI calls for the kind of fundamental reflection that only really philosophy can offer.</p>
                <br>
                <p>Getting the basics right is crucial because even the smallest oversight at this level can amplify into significant issues with immeasurable consequences downstream. Take, for example, Nick Bostrom's "paperclip maximizer" scenario—a thought experiment that feels like something straight out of a sci-fi dystopia, but nevertheless serves as a powerful illustration of how a seemingly minor oversight, like failing to prioritize human safety, could spiral into disaster.</p>

                <p>Questions that interest me include:</p>
                <ul>
                    <li><p>What is technology?</p></li>
                    <li><p>What role ought technology to play in human life?</p></li>
                    <li><p>When do human beings flourish?</p></li>
                </ul>
            </section>
            <section>
                <p>I have a background in philosophy from the University of Copenhagen where I specialized in the philosophy of mind and phenomenology and wrote my thesis in the philosophy of AI on the topic of neural networks and the systematicity challenge.</p>
            </section>
            <section>
                <p>I have worked in various positions across different industries in Denmark and Germany. From my employments I've acquired a diverse skillset, but am particularly strong in research and analysis, written communication, and client relationship management.</p>
            </section>
            <h3>Work</h3>
            <p>I'm currently employed by a major AAA+ video game developer where I work with information strategy and management.</p>
          
            <p>It is an interesting job because it allows me to use some of what I know about the human mind in a setting where I can test and measure the effects of concrete initiatives in the realms of, say, IA and UX.</p>

            <p><a href="/work">More</a></p>

            <h3>Side projects</h3>
            <p>Information coming soon.</p>
            <h3>Interests</h3>
            <p>I enjoy reading and writing (fiction and non-fiction); sports, not least hiking, running and cycling; playing chess and MTG; exploring cuisines.</p>

            <h3>This site</h3>
            <p>This site is first and foremost a place for me to post content on topics that interest me, but it is also a place for me to tinker with design in general and web design in particular. It was first based on Wordpress, then Django and now Hugo.</p>
            <br>
        </div>
    </div>
</div>
{{ end }}
