{{ define "main" }}
<div class="page" data-page="{{ .Type }}">
    <div id="title-text">
        <span class="title">Contact</span>
        <span class="subtitle">Want to get in touch? Don't hesitate to send me an e-mail or give me a call. </span>
    </div>
    <div class="main-content">
        <div id=imgContainer>
            <img src="https://d39pktu5dnvh24.cloudfront.net/imgs/contact/ubahnBerlin.jpg">
            <span id="imgText">A familiar sight (and frustration) for Berliners.</span>
        </div>

        <div class="contact-info">
            <div>
                <span class="contact-type">Phone</span>
                <p class="contact-detail">+49(0)1715538519</p>
            </div>
            <div>
                <span class="contact-type">Mail</span>
                <p class="contact-detail">r@rnjnsn.com</p>
            </div>
            <div>
                <span class="contact-type">Plus code</span>
                <p class="contact-detail">GF56+VW Berlin <br> 52°30'34", 13°18'50" </p>
            </div>
        </div>
    </div>
</div>
{{ end }}
