<!-- layouts/shortcodes/intersection-diagram.html -->
<div class="svg-container">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="auto" viewBox="0 164 1000 672">
        <defs>
            <clipPath id="clip_0">
                <path transform="matrix(1,0,0,-1,0,1000)" d="M0 1000H1000V0H0Z"/>
            </clipPath>
        </defs>
        <g id="shapes" data-name="">
            <g clip-path="url(#clip_0)">
                <path id="leftSphere" transform="matrix(1,0,0,-1,0,500)" d="M0 0C0-184.873 149.869-334.742 334.742-334.742 519.615-334.742 669.484-184.873 669.484 0 669.484 184.873 519.615 334.742 334.742 334.742 149.869 334.742 0 184.873 0 0" fill="#54565d"/>
                <path id="rightSphere" transform="matrix(1,0,0,-1,330.5156,500)" d="M0 0C0-184.873 149.869-334.742 334.742-334.742 519.615-334.742 669.484-184.873 669.484 0 669.484 184.873 519.615 334.742 334.742 334.742 149.869 334.742 0 184.873 0 0" fill="#8a8a8d"/>
                <path id="intersection" transform="matrix(1,0,0,-1,500,208.8457)" d="M0 0C-101.214-57.573-169.484-166.386-169.484-291.154-169.484-415.923-101.214-524.735 0-582.309 101.215-524.735 169.484-415.923 169.484-291.154 169.484-166.386 101.215-57.573 0 0" fill="#FF7F50"/>
            </g>
        </g>
        <g id="text" data-name="">
            <text fill="#ffffff" font-size="15" font-family="Calibre" font-weight="bold" letter-spacing="1" x="167" y="500">HUMAN</text>
            <text fill="#ffffff" font-size="15" font-family="Calibre" font-weight="bold" letter-spacing="1" x="780" y="500">MACHINE</text>
            <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="485">Philosophy of Technology</text>
            <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="515">Collective Intelligence</text>
            <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="455">Digital Ethics</text>
            <text fill="#f2f2f3" font-size="15" font-family="Calibre" letter-spacing="1" text-anchor="middle" x="500" y="545">AI Governance</text>
        </g>
    </svg>
</div>
