{{ define "main" }}
<div class="page" data-page="{{ .Type }}">
    <div class="main-content">
        <div class="content-intro">
            <span class="title">PRINCE2 Certification</span>
              <span class="subtitle">A supplement to LinkedIn profile that provides an at-a-glance overview of achievements and lends more detail to my professional trajectory</span>
        </div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Experience</title>
<body>
    <section class="work-section">
            <p> In 2024 I decided to consolidate my fragmented project management experience into a best practice framework. To begin with, I was in doubt as to whether it was worth it without having ever having had the title of Project Manager. But this is a general problem concerning how well theory transaltes into practice.


              I am happy that I did the training for the certification and got certified though. Here are some of the ways in which it has helped me. It is one of the principle of PRINCE 2 that it can be tailored to just about anything that can be described as a project (instructors like to use the example of a child's birthday party) to the 4.3B pounds projec that was building Heathrows terminal 5.
              <ul>
                <li>Made me more activate in methodological discussions related to projcet mangement in our knowledge management team. What, for example, is the nature of a task, or a work package?
                <li>
              <ul>
    <div className="p-4 bg-yellow-100 bg-opacity-50 border-2 border-yellow-400 rounded-lg flex items-center gap-4">
      <HardHat className="text-yellow-600" size={24} />
      <span className="font-medium text-yellow-800">Work in Progress</span>
    </div>
  );
};
    </section>
</body>
</html>
        </div>
    </div>
</div>
{{ end }}


